@import "../scss/components/body";
@import "../scss/components/navbar";
@import "../scss/components/footer";
@import "../scss/base/main";

/* Extends */

@import "../scss/base/extends";


@import "../scss/base/section";
@import "../scss/components/mainsectionestrenos";
@import "../scss/components/mainSectionNoticias";

/* Página Tops */

@import "../scss/components/topsCine";

/* Sub páginas */

@import "../scss/components/stallone";

/* Videos Iframes */

@import "./components/iframes";