* {
    padding: 0;
    margin: 0;
}

p {
    @extend .textoNoticiasEx;
}

.contenedor__noticias {
    background-color: black;
    
    .noticias__titulos {
        background-color: red;
        font-size: 20px;
        border-radius: 10px;
        align-items: center;
    }

    a {
        margin-left: 100px;
        margin-bottom: 20px;
    }
    
    
}