* {
    padding: 0;
    margin: 0;
}


.tituloCine {
    background-color: white;
    color: black;
    font-size: 30px;
    @extend %posicionamiento;
}



.tops__imagenes {

    h2 {
        color: black;
        font-size: 30px;
        background-color: red;
        border-radius: 20px;
        width: 150px;
        text-align: center;
    }

    img {
        width: 150px;
        height: 200px;
        border: red solid;
    }
}

.texto__tops {
    background-color: black;
    margin-bottom: 10px;

    p {
        color: white;
        font-size: 20px;
    }
    
}