%posicionamiento {
    display: flex;
    justify-content: center;
    align-items: center;
}


.textosLook {
    
    color: white;
  
    
}

/* Main y section Estrenos*/ 

.tituloEstrenosEx {
    color: black;
    background-color: white;

}

/* Main y section Noticias */


.textoNoticiasEx {
    color: white;
    font-size: 15px;
}

.articulo__noticias {
    width: 600px;
}

.colorFondo {
    background-color: red;
}