section {
    
    .titulo__trailer {
        background-color: red;
        @extend %posicionamiento;
        
    }

    video {
        display: flex;
        flex-direction: row;
        iframe {
            align-items: center;
        }
    }
    
}

